<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
  <header>
    <div class="headerWrap">
      <div class="headerWrap_02">
        <a href="/exhibition">
          <span class="funnel-display-logo">DreamScape</span>
        </a>
        <ul class="header_title">
          <li>
            <a class="header_t_a alert01" href="#">로그인</a>
          </li>
          <li>
            <a class="header_t_a alert02" href="#">회원가입</a>
          </li>
        </ul>
      </div>
    </div>
  </header>
</body>
</html>


<script src="/js/header.js"></script>