body {
  margin: 0;
  font-family: "Pretendard-Regular", sans-serif;
  /* overflow: hidden; */
}

div {
  box-sizing: border-box;
}

ul,
p,
li {
  margin: 0;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  /* text-decoration: none; */
  color: #333;
}

button {
  font-family: "Pretendard-Regular", sans-serif;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

table,
thead,
tr,
th,
td {
  border: 1px solid #c1c0c0;
  border-collapse: collapse;
  text-align: center;
}

table {
  width: 100%;
  max-width: 1280px;
}

.container {
  padding: 32px 40px;
  margin: 0 auto;
  max-width: 1280px;
}

.regis_container {
  font-size: 23px;
  width: 100%;
  background-color: #9d9d9d;
  color: #fff;
  padding: 10px;
}

.head_container {
  border: 1px solid gainsboro;
  width: 100%;
  padding: 29px 20px;
}

.head_wrap {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.inputLabel {
  display: inline-block;
  background-color: #74b0ff;
  padding: 7px 14px;
  border-radius: 7px;
  cursor: pointer;
  font-size: 14px;
  color: #fff;
  transition: 0.2s;
}

.inputLabel:hover {
  background-color: #8abdffd0;
}

.inputField:focus {
  outline: none;
}

.inputField {
  width: 61%;
  padding: 6px;
  /* border-radius: 8px; */
  border: 1px solid #ccc;
  font-size: 14px;
  color: gray;
}

.writeImg {
  display: none;
}

.input_container div {
  margin-bottom: 27px;
}

#userId {
  width: 86%;
}

.idCheck_btn {
  display: inline-block;
  background-color: #74b0ff;
  padding: 7px 11px;
  border-radius: 7px;
  cursor: pointer;
  font-size: 14px;
  color: #fff;
  transition: 0.2s;
  border: none;
}

.addData {
  max-width: 1000px;
  margin: 20px 50px;
  /* text-align: center; */
}

.imgWrap_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgWrap {
  position: relative;
  z-index: 2;
  display: inline-block;
}

.imgSpan {
  position: absolute;
  z-index: 1;
  width: 100%;
  color: #d6d4d4;
  top: 50%;
  left: 72%;
  transform: translate(-50%, -50%);
}

.imgPreview {
  width: 170px;
  height: 170px;
  border: 1px dashed #bdbdbd;
  position: relative;
  z-index: 5;
}

.input_container {
  width: 52%;
}

.input_container input {
  width: 100%;
  border: 1px solid #dedede;
  background-color: rgb(248, 248, 248);
  outline: none;
  height: 23px;
}

.detail_comment {
  margin-top: 10px;
}

.detail_comment p {
  font-size: 20px;
  padding: 10px 0 5px 10px;
}

.comment_container {
  width: 100%;
  height: 100%;
  /* background-color: blue; */
  border: 1px solid gainsboro;
}

#editor {
  width: 100%;
  height: 100%;
  padding: 10px 10px;
}

.regisBtn_div {
  display: flex;
  justify-content: center;
  margin-top: 23px;
}

.regisBtn {
  font-weight: 700;
  width: 20%;
  border: 1px solid #74b0ff;
  font-size: 17px;
}

.regisBtn:hover {
  background-color: #4495fe;
}

.main-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 32px 40px;
  max-width: 1280px;
  margin: 0 auto;
}

.tdImg {
  width: 200px;
  height: 200px;
}

.btn_td {
  width: 53px;
}

.table_btn {
  border: none;
  display: inline-block;
  background-color: #999898;
  padding: 5px 10px;
  border-radius: 7px;
  cursor: pointer;
  color: #fff;
  transition: 0.2s;
  font-weight: 700;
}

.table_btn:hover {
  background-color: #7f7f7f;
}
